<!-- Tabela convencional -->
<!-- <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Empresa</th>
      <th>Email</th>
      <th>Perfil</th>
      <th>Ativo</th>
      <th>Data de Alteração</th>
      <th>Alterado Por</th>
    </tr>
  </thead>
  <tbody *ngIf="UsuariosFiltrados && UsuariosFiltrados.length">
    <tr *ngFor= "let usuario of UsuariosFiltrados">
      <td>{{usuario.id}}</td>
      <td>{{usuario.userName}}</td>
      <td>{{usuario.nome}}</td>
      <td>{{usuario.sobrenome}}</td>
      
      <td *ngIf="usuario.empresa">{{usuario.empresa.nomeFantasia}}</td>
      <td *ngIf="!usuario.empresa"></td>

      <td>{{usuario.email}}</td>
      <td>{{usuario.perfil}}</td>
      <td>{{usuario.ativo}}</td>
      <td>{{usuario.dataAlteracao | DateFormatPipe }}</td>
      <td>{{usuario.alteradoPor}}</td>
    </tr>
  </tbody>
  <tfoot *ngIf="!UsuariosFiltrados || !UsuariosFiltrados.length">
    <tr>
      <td colspan="9" class="text-center">
        <h4>
          Nenhum registro encontrado.
        </h4>
      </td>
    </tr>
  </tfoot>
</table> -->

<div class="container">
  <div class="input-group">
      <mat-form-field class="select-filtro">
        <mat-select placeholder="Filtrar Por" [(value)]="FiltrarPor">
          <mat-option></mat-option>
          <mat-option value="id">Id</mat-option>
          <mat-option value="userName">UserName</mat-option>
          <mat-option value="nome">Nome</mat-option>
          <mat-option value="sobrenome">Sobrenome</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input-filtro">
        <input matInput (keyup)="filtrarUsuarios($event.target.value)" placeholder="Valor" [(ngModel)]="ValorFiltro">
      </mat-form-field>
  </div>

  <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" matSort>
      
        <!-- id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">#:</span>
          {{element.id}} 
        </mat-cell>
      </ng-container>

      <!-- userName Column -->
      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Username:</span>
          {{element.userName}} 
        </mat-cell>
      </ng-container>

      <!-- nome Column -->
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Nome:</span>
          {{element.nome}} 
        </mat-cell>
      </ng-container>

      <!-- sobrenome Column -->
      <ng-container matColumnDef="sobrenome">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sobrenome</mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Nome:</span> 
          {{element.sobrenome}} 
        </mat-cell>
      </ng-container>

      <!-- empresa Column -->
      <ng-container matColumnDef="empresa">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Empresa:</span>
          {{element.empresa ? element.empresa.nomeFantasia : '' }} 
        </mat-cell>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Email:</span>
          {{element.email}} 
        </mat-cell>
      </ng-container>

      <!-- perfil Column -->
      <ng-container matColumnDef="perfil">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Perfil</mat-header-cell>
        <mat-cell *matCellDef="let element"> 
        <span class="mobile-label">Perfil:</span>          
          {{element.perfil}} 
        </mat-cell>
      </ng-container>

      <!-- ativo Column -->
      <ng-container matColumnDef="ativo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Ativo</mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Ativo:</span>
          {{element.ativo == true ? 'Sim' : 'Não'}} 
        </mat-cell>
      </ng-container>

      <!-- dataAlteracao Column -->
      <ng-container matColumnDef="dataAlteracao">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Data de Alteração</mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Dt. Alt.:</span>
          {{element.dataAlteracao | DateFormatPipe}} 
        </mat-cell>
      </ng-container>

      <!-- alteradoPor Column -->
      <ng-container matColumnDef="alteradoPor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Alterado Por</mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Alt. Por:</span>
          {{element.alteradoPor}} 
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
  </div>
</div>

