
 <div *ngFor= "let usuario of Usuarios">
    UsuarioId: {{usuario.usuarioId}}
    <br>
    userName: {{ usuario.userName }}
    <br>
    senha: {{ usuario.senha }}
    <br>
    nome: {{ usuario.nome }}
    <br>
    sobrenome: {{ usuario.sobrenome }}
    <br>
    empresa: {{ usuario.empresa }}
    <br>
    email: {{ usuario.email }}
    <br>
    perfil: {{ usuario.perfil }}
    <br>
    ativo: {{ usuario.ativo }}
    <br>
    dataAlteração: {{ usuario.dataAlteracao }}
    <br>
    alteradoPor: {{ usuario.alteradoPor }}
    <br>
  
  <hr>
</div>  

